body
{
  color: white;
  background-image: linear-gradient(to right top, #ff0091, #f000a8, #db1bc0, #bc32d6, #9245ea, #6b67f9, #3f7fff, #0092ff, #00b2ff, #00cfff, #00e8ff, #00ffef);
  }
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 30px;
}
.gesture
{
  font-size:35px;
}
.heading{
  background-image: linear-gradient(to left bottom, #d300ff, #8d6bff, #2b90ff, #00a8ff, #00b9ff, #00c4fa, #00cef1, #13d7e5, #11ddc7, #5be09d, #95dd6e, #ced545);
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}
label{
  background-color: crimson;
  padding:5px;
  font-size: 20px;
}
button{
  background-color: darkorchid;
  font-size: larger;
  
}